<%- include('header') %>

  <div class="container">
      <h1 class="text-center text-secondary mt-5">
          Encontre Seu Cadastro!
      </h1>    
      <p class="text-center text-secondary mt-5" >   
        <a class="btn btn-lg btn-custom" href="/pessoa">  <i class="fas fa-eye me-1"></i>  Ver Cadastros </a>
      </p>
  </div>

<%- include('footer') %>