body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {

  padding: 5px 10px;
}


button {
  background-color: #4CAF50;
  /* Green */
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #45A049;
}


#dadosJuridica,
#dadosFisica {
  display: none;
}


.resultado {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}